include headmenu.pug

h1.heading Edit Item
br
br
div.addItemForm
    form.addItem(action='/db/edit_item/'+ item.id, method='POST')
        label(for='name') Name of Item:
        br
        input#name(name='name' value=item.name)
        br
        br
        br
        label(for='manufacturer') Manufacturer
        br
        input#manufacturer(name='manufacturer', value=item.manufacturer)
        br
        br
        br
        label(for='storageUnit') Unit of Storage:
        br
        br
        select#storageUnit(name='storageUnit')
            option(value='Can') Can
            option(value='Bag') Bag
            option(value='Box') Box
            option(value='Bottle') Bottle
            option(value='Bucket') Bucket
        br
        br
        br
        label(for='quantity') Quantity
        br
        input#quantity(name='quantity' value=item.quantity type='number')
        br
        br
        br
        p Item Category:
        br
        select(name='category')
            option(selected value=item.category)= 'Current Value: ' + item.category
            option(value='Soup') Soup
            option(value='Entree with Meat') Entree with Meat
            option(value='Entree without Meat') Entree without Meat
            option(value='Meat Only') Meat Only
            option(value='Beans') Beans
            option(value='Cracker') Cracker
            option(value='Pasta') Pasta
            option(value='Potato') Potato
            option(value='Rice') Rice
            option(value='Vegetable') Vegetable
            option(value='Breakfast Meal') Breakfast Meal
            option(value='Breakfast Drink') Breakfast Drink
            option(value='Breakfast Meat') Breakfast Meat
            option(value='Eggs') Eggs
            option(value='Granola') Granola
            option(value='Milk') Milk
            option(value='Yogurt') Yogurt
            option(value='Fruit') Fruit
            option(value='SauceGravy') Sauce/Gravy
            option(value='Dessert') Dessert
            option(value='Spice') Spice
            option(value='Drink') Drink
            option(value='Oats') Oats
        br
        br
        br
        label(for='servings') Number of Servings per Unit
        br
        input#servings(name='servings', value=item.servings type='number')
        br
        br
        label(for='unpreparedserving') Dry Serving Size (Cups)
        br
        input#unpreparedserving(name='unpreparedserving' type='number' required value=item.unpreparedserving)
        br
        br
        label(for='preparedserving') Prepared Serving Size
        br
        input#preparedserving(name='preparedserving' type='number' value=item.preparedserving)
        br
        br
        br
        p Expiration Year:
        br
        input(name='expiration' value=item.expiration type='number')
        br
        br
        br
        p Additional Details
        br
        textarea(name='info', cols = '40' rows='10') #{item.info}
        br
        br
        input(type='hidden', name='editedBy', id='editedBy', value=user.name)
        button.generalButton(action='submit') Update Item
        br
script.
    let timeP = new Date();
    let zeroVar = timeP.getMinutes().toString();
    if (zeroVar.length == 1) {
        zeroVar = "0" + zeroVar;
    }
    let target = document.getElementById('editedBy');
    let message = ` on ${timeP.toDateString()} at ${timeP.getHours()}:${zeroVar}`;
    target.value += message;